body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

.container {
  width: 300px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar {
  display: flex;
  gap: 20px;
  background-color: #222;
  padding: 10px;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}
.navbar span:hover {
  opacity: 0.8;
}
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  resize: none;
}